/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.row {
  margin-top: 50px;
}

.left-col {
  float: left;
  width: 50%;
}

.right-col {
  float: right;
  width: 50%;
}

.value {
  padding-top: 6px;
  height: 33px;
  width: 370px;
  text-align: right;
  font-size: 14px;
}

.left-col > div > .value {
  padding-right: 20px;
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.input-value {
  width: 363px;
  text-align: right;
}
